@import "../../assets/styles/global.scss";

.skip {
  margin-bottom: 10px;
}

.task {
  opacity: 0.4;
}

.container {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 0px;

  & > button {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;

    &:first-child {
      margin-left: 0px;
      margin-bottom: 10px;
    }

    @include respond("phone") {
      margin-left: 0;
      margin-bottom: 5px;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
    margin-top: 10px;
  }

  @include respond("phone") {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
  }
}

.block {
  display: inline-block;
  clear: both;
}

.wrapper {
  display: inline;
  justify-content: space-between;
  align-items: left;
  margin-top: 20px;

  @include respond("phone") {
    flex-flow: column;
    align-items: flex-start;
  }
}

.rewrite {
  background: #73d13d;
  border-color: #73d13d;

  &:hover {
    background: #95de64;
    border-color: #95de64;
  }
}
